source https://api.nuget.org/v3/index.json
redirects on

nuget FSharp.Core ~> 4.2 redirects: force
nuget FAKE.Lib ~> 4
github wallymathieu/FSharp.SExpression SExpression.fs

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE ~> 4
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2